extends base.pug

block scripts
    script(src='../static/tut.js')
  
block style
    style
        include ../static/style.css
        include ../static/about.css

block content
    section#container
        section#abcont
            #abt
                h1#abtme About me
                br
                br
                p#p1.pabt I'am a Full Stack Web Developer.
                br
                br
                p#p2.pabt 
                    | I enjoy building Websites and always strive to write elegant and efficient code,whether it be HTML, CSS or JAVASCRIPT.  what the jack and want to cake rock want to cake rock  because and is the what the jack and want to cake rock definite not because and is the what  definite not because and is want to cake rock the over. 
                br
                br
                p#p3.pabt 
                    | When i am not coding or pushing pixels, you'll find me pushing rank in Online Games.
            sec#sociali 
                #icn 
                    a(href='https://www.facebook.com' target='_blank')
                        span#fb1.fa.fa-linkedin(aria-hidden='true')
                    a(href='https://www.instagram.com' target='_blank')
                        span#in1.fa.fa-facebook-official(aria-hidden='true')
                    a(href='https://www.twitter.com' target='_blank')
                        span#tw1.fa.fa-twitter(aria-hidden='true')
        #abm 
            img#svg2(src='../static/images/ab.svg' alt='')