doctype html
html
  head
    block head 
        title Portfolio
        link(rel='stylesheet' media='screen and (max-device-width: 1100px)' href='../static/vanis.css')
        link(rel='stylesheet' media='screen and (max-device-width: 1078px)' href='../static/vanis2.css')
        link(rel='stylesheet' media='screen and (min-device-width: 679px) and (max-device-width: 842px)' href='../static/vanis3.css')
        link(rel='stylesheet' media='screen and (max-device-width: 680px)' href='../static/tablet.css')
        link(rel='stylesheet' media='screen and (max-device-width: 572px)' href='../static/minitablet.css')
        link(rel='stylesheet' media='screen and (max-device-width: 480px)' href='../static/mini2tablet.css')
        link(rel='stylesheet' media='screen and (max-device-width: 466px)' href='../static/chotuphone.css')
        link(rel='stylesheet' media='screen and (max-device-width: 418px)' href='../static/phone.css')
        link(rel='stylesheet' media='screen and (max-device-width: 408px)' href='../static/430phone.css')
        link(rel='stylesheet' media='screen and (max-device-width: 386px)' href='../static/midphone.css')
        link(rel='stylesheet' media='screen and (min-device-width: 330px) and (max-device-width: 352px)' href='../static/midphone2.css')
        link(rel='stylesheet' media='screen and (max-device-width: 329px)' href='../static/miniphone.css')
        link(rel='stylesheet' media='screen and (max-device-width: 308px)' href='../static/nil.css')
        link(rel='stylesheet' media='screen and (max-device-width: 298px)' href='../static/mid2phone.css')
        link(rel='stylesheet' media='screen and (max-device-width: 278px)' href='../static/piddi.css')
        link(rel='stylesheet' media='screen and (max-device-width: 256px)' href='../static/piddi2.css')
        //- link(rel='stylesheet' media='screen and (max-device-width: 425px)' href='../static/phone.css')
        //- link(rel='stylesheet' media='screen and (max-device-width: 395px)' href='../static/miniphone.css')
        //- link(rel='stylesheet' media='screen and (max-device-width: 563px)' href='../static/vanis.css')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    block scripts
    block style
  body
    navbar1#header
        h2#logo PortFolio
        ul#nav
            li.opt
                a(href='/') Home
            li.opt
                a(href='#abthead') About
            li.opt
                a(href='#skillshead') Skills
            li.opt
                a(href='#workhead') Work
            li.opt
                a(href='#contacthead') Contact
    section    
    
    block content
    //- footer#footer
    //-     | Copyright © 2021 HarryDanceAcademy.com | All rigths reserved











