extends base.pug

block scripts
    script(src='../static/tut.js')
  
block style
    style
        include ../static/style.css
        include ../static/home.css
        include ../static/about.css
        include ../static/skills.css
        include ../static/work.css
        include ../static/styleContact.css
        //- include ../static/gone.css
        
block content
    #section
        .container0
            #content1
                #box0
                    h2#hello Hello World,
                    h2#im    I'am 
                        span#naam Rajiv Kumar Singh 
                    br
                    hr#hl
                    p#webdev Full-Stack Web Developer
                    p#pp Lorem ipsum dolor sit amet, consectetur adipisicing elit. At necessitatibus cumque molestias eligendi odit provident exercitationem nam laudantium  enim mollitia, ex sed quis consequatur distinctio. Nobis, harum voluptas?
           
                #sidebar    
                    .social_links
                        a(href='https://www.facebook.com' target='_blank')
                            span#fb.fa.fa-linkedin(aria-hidden='true')
                        a(href='https://www.instagram.com' target='_blank')
                            span#in.fa.fa-facebook-official(aria-hidden='true')
                        a(href='https://www.twitter.com' target='_blank')
                            span#tw.fa.fa-twitter(aria-hidden='true')
        hr#abthead.over1
        .container0
            #content2
                #paras
                    p.pabt#dis Discover
                    p.pabt#abthead1 About Me
                    hr#abthr
                    br
                    br
                    //- p.pabt#fullstack I'am a Full Stack Web Developer.
                    p.pabt#enjoy I enjoy building Websites and always strive to write elegant and efficient code,whether it be HTML, CSS or JAVASCRIPT. 
                    br
                    p.pabt#games When i am not coding or pushing pixels, you'll find me pushing rank in Online Games.
                    #boxx
                        br
                        p.boxe#name Name : Rajiv Kumar Singh
                        br
                        p.boxe#phn  Phone : 8574927294
                        br
                        p.boxe#exp  Experience : none 
                        br
                        #boxx1
                            p.boxe1#age  Age : 21
                            br
                            p.boxe1#addr Address : Gorakhpur U.P 
                            br
                            p.boxe1#freelan  Freelance : Available 
                            br
                    button#btn1(type='button') Download CV
                img#mypic(src='../static/images/pic2.jpg' alt='profile pic')

            //-     h2
            //-         span#hi  Hi,
            //-         br
            //-         span#iam  I&apos;am 
            //-         span#pool Rajiv
            //-         br
            //-         span#webdev Web Developer
            //-     button#btn(type='button') Contact
            //- img#svg(src='../static/images/im.svg' alt='')
            //- #sidebar    
            //-     .social_links
            //-         a(href='https://www.facebook.com' target='_blank')
            //-             span#fb.fa.fa-linkedin(aria-hidden='true')
            //-         a(href='https://www.instagram.com' target='_blank')
            //-             span#in.fa.fa-facebook-official(aria-hidden='true')
            //-         a(href='https://www.twitter.com' target='_blank')
            //-             span#tw.fa.fa-twitter(aria-hidden='true')
        hr#skillshead.over2
        .container0
            #content3
                #daba
                    h1#skill Skills &amp; Experience
                    #psk 
                        span#pskill HTML,PUG,CSS,JAVASCRIPT,building small and medium web apps with Nodejs,custom pulgins,features,animations and coding interactive layouts.
                    
                    #tag
                        script(src='https://code.jquery.com/jquery-3.4.1.js')
                        script(src='../static/tut.js')
                        script.
                            $(document).ready(function(){
                            var entries = [
                            { label : 'HTML'},
                            { label : 'CSS'},
                            { label : 'JAVASCRIPT'},
                            { label : 'NODEJS'},
                            { label : 'MONGODB'},
                            { label : 'PUG'},
                            { label : 'EXPRESS'},
                            { label : 'MONGOOSE'},
                            { label : 'POSTMAN'},
                            { label : 'FS'},
                            { label : 'NODE '},
                            { label : 'MONGODB'},
                            { label : 'EXPRESS'},
                            { label : 'PUG'},
                            { label : 'C++'},
                            { label : 'C#'},
                            { label : 'MONGOOSE'},
                            { label : 'SLUGIFY'},
                            { label : 'NODEMON'},
                            { label : 'RUBY'},
                            { label : 'SWIFT'},
                            { label : 'PASCAL'},
                            { label : 'COBO'},
                            { label : 'FUSION'},
                            { label : 'FLEX'},
                            { label : 'COLD FUSION'},
                            { label : 'REACT'},
                            { label : 'CSS'},
                            { label : 'REACT'}
                            ];
                            var settings = {
                            entries : entries,
                            width:610,
                            height:470,
                            radius:'66%',
                            radiusMin:75,
                            bgDraw:true,
                            bgcolor:'transparent',
                            opacityOver:1.00,
                            opacityOut:0.05,
                            opacitySpeed:2,
                            fov:900,
                            speed:1.5,
                            fontFamily:'Courier,Arial,sans-serif',
                            fontSize:'30',
                            fontColor:'#ff6347',
                            fontWeight:'bold',
                            fontStyle:'normal',
                            fontSretch:'normal',
                            fontToUppercase:true
                            };
                            $('#tag').svg3DTagCloud(settings);
                            });
            //-     h2
            //-         span#hi  Hi,
            //-         br
            //-         span#iam  I&apos;am 
            //-         span#pool Rajiv
            //-         br
            //-         span#webdev Web Developer
            //-     button#btn(type='button') Contact
            //- img#svg(src='../static/images/im.svg' alt='')
            //- #sidebar    
            //-     .social_links
            //-         a(href='https://www.facebook.com' target='_blank')
            //-             span#fb.fa.fa-linkedin(aria-hidden='true')
            //-         a(href='https://www.instagram.com' target='_blank')
            //-             span#in.fa.fa-facebook-official(aria-hidden='true')
            //-         a(href='https://www.twitter.com' target='_blank')
            //-             span#tw.fa.fa-twitter(aria-hidden='true')
        hr#workhead.over3
        .container0
            #content4
                #daba1
                    img#svg(src='../static/images/wk.svg' alt='')
                    #dabain 
                        h1#projhead 
                            | Projects
                        br
                        | 1. Created an Personal Protfolio from scratch.
                        br
                        br
                        h1#internhead 
                            | Internships 
                        br
                        | 1. Worked as an HTML &amp; CSS intern with ClearExam for a period of 8 weeks.
                
            //-     h2
            //-         span#hi  Hi,
            //-         br
            //-         span#iam  I&apos;am 
            //-         span#pool Rajiv
            //-         br
            //-         span#webdev Web Developer
            //-     button#btn(type='button') Contact
            //- img#svg(src='../static/images/im.svg' alt='')
            //- #sidebar    
            //-     .social_links
            //-         a(href='https://www.facebook.com' target='_blank')
            //-             span#fb.fa.fa-linkedin(aria-hidden='true')
            //-         a(href='https://www.instagram.com' target='_blank')
            //-             span#in.fa.fa-facebook-official(aria-hidden='true')
            //-         a(href='https://www.twitter.com' target='_blank')
            //-             span#tw.fa.fa-twitter(aria-hidden='true')
        hr#contacthead.over4
        .container0
            #content5
                #daba2 
                    h2#contacthead 
                        .container
                            .screen
                                .screen-header
                                    .screen-header-left
                                        .screen-header-button.close
                                        .screen-header-button.maximize
                                        .screen-header-button.minimize
                                    .screen-header-right
                                        .screen-header-ellipsis
                                        .screen-header-ellipsis
                                        .screen-header-ellipsis
                                .screen-body
                                    .screen-body-item.left
                                        .app-title
                                            span CONTACT
                                            span ME
                                        .app-contact CONTACT INFO : +62 81 314 928 595
                                    .screen-body-item
                                        .app-form
                                            .app-form-group
                                            input.app-form-control(placeholder='NAME' )
                                            .app-form-group
                                            input.app-form-control(placeholder='EMAIL')
                                            .app-form-group
                                            input.app-form-control(placeholder='CONTACT NO')
                                            .app-form-group.message
                                            input.app-form-control(placeholder='MESSAGE')
                                            .app-form-group.buttons
                                            button.app-form-button CANCEL
                                            button.app-form-button SEND
            //-     h2
            //-         span#hi  Hi,
            //-         br
            //-         span#iam  I&apos;am 
            //-         span#pool Rajiv
            //-         br
            //-         span#webdev Web Developer
            //-     button#btn(type='button') Contact
            //- img#svg(src='../static/images/im.svg' alt='')
            //- #sidebar    
            //-     .social_links
            //-         a(href='https://www.facebook.com' target='_blank')
            //-             span#fb.fa.fa-linkedin(aria-hidden='true')
            //-         a(href='https://www.instagram.com' target='_blank')
            //-             span#in.fa.fa-facebook-official(aria-hidden='true')
            //-         a(href='https://www.twitter.com' target='_blank')
            //-             span#tw.fa.fa-twitter(aria-hidden='true')
    
        //- #cl 
        //- #ul            

        //- footer#footer
        //- | Copyright © 2021 HarryDanceAcademy.com | All rigths reserved
    
    script
        include ../static/tut.js