//- extends base.pug

//- block scripts
//-     script(src='../static/tut.js')
  
//- block style
//-     style
//-         include ../static/style.css
//-         include ../static/work.css
                
//- block content
//-     section#container
//-         #contwork 
//-             .boxw#boxw1   
//-                 a(href='#projects' target='_blank') Projects
//-                 br
//-                 a(href='#internships' target='_blank') Internships
//-             .boxw#boxw2
//-                 #projects 
//-                     h1#proj Projects 
//-                     br
//-                     p.pp 1. Created an Personal Protfolio from scratch.
//-                     br
//-                     br
//-                     br
                   
//-                 #internships
//-                     h1#intern Internships 
//-                     br
//-                     p.pp  1. Worked as an HTML &amp; CSS intern with ClearExam for a period of 8 weeks. 

