#cont02{
    height:95vh!important;
}

/*skill   ...........*/
#cont03{
    height:41vh!important;
}

#pskill{
    font-size: 29px!important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    font-family: 'Righteous', cursive!important;
}
#pskill2{
    font-size: 29px!important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    font-family: 'Righteous', cursive!important;
}
#skill{
    font-size: 85px!important;
    font-family: 'Satisfy', cursive!important;
}
   /* work  */
/* #cont04{
    height: 30vh!important;
} */

#workhead2{
    font-family: 'Satisfy', cursive!important;
}

#dabain{
    font-family: 'Righteous', cursive!important;
}