@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
#section{
    /* display: flex; */
    /* flex-direction: column; */
    position: absolute;
    top: 8%;
}

.container0{
    /* border: 2px solid red; */
    /* position: absolute; */
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

#content1{
    position: absolute; 
    color: white;
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
    
}

#box0{
    position: absolute;
    top: 29vh;
    display: flex;
    flex-direction: column;
    /* border: 2px solid sienna; */
    width: 45%;
    left: 78px;

}

#hello {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
    font-size: 39px;
    font-family: 'Patua One', cursive;
}



#im{
    display: inline-block;
    position: relative;
    top: -6px;
    left: 0px;
    font-size: 39px;
    font-family: 'Patua One', cursive;
}

#naam{
    display: inline-block;
    color: tomato;
}

#hl{
    display: inline-block;
    width: 98%;
    size: "2";
    position: relative;
    top: -18px;
    left: 0px;
    color: tomato;
}


#webdev{
    display: inline-block;
    position: relative;
    top: -13px;
    font-size: 21px;
    left: 0px;
    color: rgb(27, 143, 238);
    font-family: 'Righteous', cursive;
}


#pp{
    position: relative;
    top: 60.5%;
    font-size: 16px;
    left: 0px;
    width: 88%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}  

#btnbox{
    display: flex;
    position: relative;
    top: 42px;
    left: 11px;
    display: inline-block;  
}
#btnhire{
    margin: 4px;
    position: relative;
    width: 123px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(27, 143, 238);
    color: white;
    font-family: 'Righteous', cursive;
    background-color: rgb(27, 143, 238);
}
#btnhire:hover{
     background-color: black;
     cursor: pointer;
}

#btnknowm{
    margin: 4px;
    position: relative;
    width: 123px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(27, 143, 238);
    color: white;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
}
#btnknowm:hover{
    cursor: pointer;
    background-color: tomato;

}


#sidebar{
    position: absolute;
    width: 60px;
    height: 100%;
    right: 13px;
    top: 0;  
}

.social_links span{
    width: 30px;
    margin: 8px auto;
    cursor: pointer;
    font-size: 34px;
    filter: invert(50%);
}
.social_links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
}




#fb:hover{
    color: #f18957 ;
    filter: invert(100%);
}
#in:hover{
   color: #c4a667;
   filter: invert(100%);
}
#tw:hover{
    color: #e25e0d;
    filter: invert(100%);
}