#cont02{
    height:67vh!important
}

#cont03{
    height:27vh!important;
}

#cont04{
    height: 26.5vh!important;
}
#skill{
    font-size: 80px!important;
    font-family: 'Satisfy', cursive!important;
}
#dabain{
    font-family: 'Righteous', cursive!important;
}