#cont02{
    height:87vh!important
}

/*skill   ...........*/
#cont03{
    height:37vh!important;
}

/*work...*/
#cont04{
    height: 33.5vh!important;
}
#skill{
    font-size: 80px!important;
    font-family: 'Satisfy', cursive!important;
}
#workhead2{
    font-family: 'Satisfy', cursive!important;
}

#dabain{
    font-family: 'Righteous', cursive!important;
}
#footer{
    display: revert!important;
}