#cont02{
    height:88vh!important
}
#cont03{
    height:35vh!important
}
  /* work     */
#cont04{
    height: 35vh!important;
}
#workhead2{
    font-family: 'Satisfy', cursive!important;
}
#dabain{
    font-family: 'Righteous', cursive!important;
}
#footer{
    display: revert!important;
}