@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#paras{
    position: relative;
    left: 12px!important;
    top: 98px!important;
    width: 100vw!important;
    display: flex;
    flex-direction: column;
    
}
#my1pic{
    display: revert!important;
 }
#my1pic{
    
    position: relative!important;
    top: 12px;
    left: 227px;
    width: 35%;
    height: auto;
    border-radius: 50%;
    margin: 58px!important;
}

#dis{
    font-family: 'Righteous', cursive;
    font-size: 25px!important;

}


.pabt{
    font-size: 33px!important;
}

#mypic{
    display: none;
}


#btn1{
    position: absolute!important;
    left: 1px!important;
    top: 1050px!important;
    
}