@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#paras{
    position: relative;
    left: 12px!important;
    top: 32px!important;
    width: 100vw!important;
    display: flex;
    flex-direction: column;
    
}
#my1pic{
    position: relative!important;
    top: 12px;
    left: 267px;
    width: 35%!important;
    height: auto!important;
    border-radius: 50%;
    margin: 31px!important;
}

#dis{
    font-family: 'Righteous', cursive;
    font-size: 25px!important;

}
 #cont02{
    height:100vh!important;
} 


.pabt{
    font-size: 33px!important;
}

#mypic{
    display: none;
}

#boxx{
    top: 55px!important;
}

.boxe{
    font-size: 150%!important;
}
.boxe1{
    font-size: 150%!important;
}


#btn1{
    position: absolute!important;
    left: 1px!important;
    top: 110%!important;
    
}


/* styling skills and exp section  */

#cont03{
    height:50vh!important;
}


#skill{
    font-size: 60!important;
}
#pskill{
    font-size: 25px!important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    font-family: 'Righteous', cursive!important;
}
#pskill2{
    font-size: 25px!important;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    font-family: 'Righteous', cursive!important;
}
#skill{
    font-size: 70px!important;
}


/*work media css       */

#cont04{
    height: 43vh!important;
}
#svg{
    left: 30%!important;
    top: -32px!important;
    width: 211px!important;
    height: 209px!important;
}
#dabain{
    left: 4%!important;
}
#projhead{
    font-size: 55px!important;
}
#skill{
    font-size: 76px!important;
}

#internhead{
    font-size: 55px!important;
}

#ph1{
    font-size: 34px!important;
}
#ph2{
    font-size: 34px!important;
}