#mypic{
    width: 41%!important;
    top: -404px!important;
    left: 4vw!important;
}

#paras{
    top: 210px!important;
}



.pabt{
    font-size: 34px!important;
}


#dis{
    
    font-size: 50px!important;

}
 

#abthead1{
   
    font-size: 62px!important;
}







#btn1{
    top: 839px!important;
    font-size: 21px!important;
    
}
