/* #paras {
    top: 354px!important;
} */


#logo{
    font-size: 6rem!important;
}
#header{
    height: 7.5rem!important;
    }
#nav{
    height: 100%!important;
}

#mypic {
    width: 43%!important;
    top: -266px!important;
    left: 3vw!important;
}

#btn1{
    position: absolute!important;
    left: 1px!important;
    top: 110%!important;
    
}

#cont02{
    height:75vh!important;
}


/*skill   ...........*/
#cont03{
    height:38vh!important;
}
