#mypic{
    width: 41%!important;
    top: -480px!important;
    left: 2vw!important;
}

#paras{
    top: 6%!important;
}



.pabt{
    font-size: 30px!important;
}


#dis{
    
    font-size: 40px!important;

}
 

#abthead1{
   
    font-size: 58px!important;
}







#btn1{
    top: 110%!important;
    font-size: 21px!important;
    
}

/* styling skills and exp section  */

#cont03{
    height:52vh!important;
}

#pskill{
    font-size: 26px!important;
}
#pskill2{
    font-size: 26px!important;
}
#skill{
    font-size: 74px!important;
}


/*work media css       */

#cont04{
    height: 44vh!important;
}



#cont05{
    height: 700px !important ;
}
.screen{
    height: 555px!important;
}