#mypic{
    width: 41%!important;
    top: -404px!important;
    left: 4vw!important;
}

#paras{
    top: 210px!important;
}



.pabt{
    font-size: 30px!important;
}


#dis{
    
    font-size: 46px!important;

}
 

#abthead1{
   
    font-size: 58px!important;
}







#btn1{
    top: 110%!important;
    font-size: 21px!important;
    
}
