#cont02{
    height:70vh!important;
}


/*skill   ...........*/
#cont03{
    height:35vh!important;
}

/* work     */
#cont04{
    height: 30vh !important ;
}
#skill{
    font-size: 80px!important;
    font-family: 'Satisfy', cursive!important;
}

#workhead2{
    font-family: 'Satisfy', cursive!important;
}
#dabain{
    font-family: 'Righteous', cursive!important;
}
#footer{
    display: revert!important;
}