#cont02{
    height:72vh!important;
}


/*skill   ...........*/
#cont03{
    height:35vh!important;
}

/* work     */
#cont04{
    height: 27vh !important ;
}
#skill{
    font-size: 80px!important;
    font-family: 'Satisfy', cursive!important;
}

#workhead2{
    font-family: 'Satisfy', cursive!important;
}
#dabain{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}