#logo{
    font-size: 5rem!important;
}
#header{
    height: 6.5rem!important;
    }
#nav{
    height: 100%!important;
}



#cont02{
    height:104vh!important;
}




#abthead1 {
    font-size: 65px!important;
}


#my1pic {
    position: relative!important;
    top: 12px;
    left: 221px;
    width: 35%!important;
    height: auto!important;
    border-radius: 50%;
    margin: 65px!important;
}


#btn1 {
    position: absolute!important;
    left: 1px!important;
    top: 110%!important;
}


/*skill   ...........*/
#cont03{
    height:45vh!important;
}


#pskill{
    
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    font-family: 'Righteous', cursive!important;
}
#pskill2{
    
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important; */
    font-family: 'Righteous', cursive!important;
}
#skill{
    font-size: 64!important;
    font-family: 'Satisfy', cursive!important;
    
}
#workhead2{
    font-family: 'Satisfy', cursive!important;
}


#dabain{
    font-family: 'Righteous', cursive!important;
}

#footer{
    display: revert!important;
}

#workicon{
    width: 85px!important;
    height: 72px!important;
    filter: invert(100%);
 }
 #skillicon{
    width: 85px!important;
    height: 72px!important;
   
 }
 #contacticon{
    width: 87px!important;
    height: 72px!important;
    padding-right: 0px!important;
 
 }
  
   .fa-home:before {
    content: "\f015";
    font-size: 80px!important;
}

.fa-user-circle:before {
    content: "\f2bd";
    font-size: 80px!important;
}
