@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


 body{
    /* overflow-y: hidden; */
    background-color: black;
    
} 

body::-webkit-scrollbar{
    display: none;
}
.container0{
    margin: 0px;
}

    
    
    #logo{
        position: absolute;
        color: #00ad9a;
        text-shadow: 0 0 25px #00ad9a;
        left: 2.2%;
        top: -5%;
        font-size: 3rem;
        font-family: 'Satisfy', cursive;
        
    }
    #header{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100vw;
        box-shadow: 0px 0px 30px rgb(0 0 0 / 20%);
        /* border-radius: 16px; */
        background: rgba(255,255,255,0);
        overflow: hidden;
        height: 3.5rem;
        backdrop-filter: blur(12px);
        animation: anihead 3.5s linear infinite;
        }

         @keyframes anihead{
            0%{
                box-shadow: 0px 5px 156px #00d2c6;
            }
            50%{
                box-shadow: 0px 5px 200px #00d2c6;
            }
            100%{
                box-shadow: 0px 5px 156px #00d2c6;
            }
        } 

   
    
    #nav{
        position: absolute; 
        display: flex;
        flex-direction: row;
        
        align-items: center;
        
        right: 0.01%;
        width: 533px;
        height: 100%;
      
        
    
    }
    
     
    
    ul li{
        
        list-style: none;
        padding: 1%;
        
    }
    
    ul li a{
        
        font-size: 1.5rem;
        padding: 9px ;
        text-decoration: none;
        color:#C0C0C0;
        font-family: 'Righteous', cursive;
       
    }

    .opt:hover{
        
        background:  #00ad9a;
        text-shadow:0 0 25px #00ad9a;
        border-radius: 23px;
        

    }
     ul li a:hover{
         color: white;
     }


     

     /* footer styling        */

     #footer{
         color: white;
         background-color: #1B1E23;
     }

    
     /* #contacticon{
        width: 83px;
        height: 83px;
        filter: invert(76%); 
     } */
      
     #footer{
         display: none;
         position: sticky;
         bottom: 0;
         z-index: 9;

     }
     #foot{
         position: sticky;
         height: 121px;
         width: 100vw;
         bottom: 30px;
         display: flex;
         justify-content: center;
         /* border: 2px solid red; */
     }
     .opt2{
        margin-inline: 47px;
       }

       .fa-home:before {
        content: "\f015";
        font-size:80px;
        color: tomato;
    }

    .fa-user-circle:before {
        content: "\f2bd";
        font-size: 80px;
        color: tomato;
    }
    .fa-code:before {
        content: "\f121";
        font-size: 80px;
        color: tomato;
    }

    .fa-file-code-o:before {
        content: "\f1c9";
        font-size: 80px;
        color: tomato;
    }

    #ho{
        color:#00ad9a ;
    }
    #abo{
        color:#00ad9a ;
    }
    #ski{
        color:#00ad9a ;
    }
    #wo{
        color:#00ad9a;
    }