@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');



#content5{
    position: relative;
    /* background-image:url('../static/images/bg.JPG') ; */
    background-color: rgb(5, 5, 5);
    width: 99vw;
    height: 100%;
    z-index: 6;
}

#daba2{
    position: absolute;
    width: 100vw;
    height: 100%;
}


#contacthead{
    width: 62px;
    height:2px;
    border-width:0;
    color:tomato;
    background-color:tomato;
}


/* *, *:before, *:after {
    box-sizing: border-box;
    smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
  
  body {
    /* background: linear-gradient(to right, #ea1d6f 0%, #eb466b 100%); */
    /* font-size: 12px; */
  }
  
  /* body,*/
   button, input { 
    
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    background: #3e3e3e;
    height: 560px;
    top: 105px;
    left: 18%;
    width: 902px;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background: tomato;
  }
  
  .screen-header-button.maximize {
    background: #00ad9a;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: tomato;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: tomato;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    position: relative;
    top: 73px;
    left: 51%;
    margin: 20px;
    background: none;
    border: none;
    color: tomato;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: tomato;
  }
  

  
  
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  














/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container3{
     position: absolute;
    z-index: 1;
    top: 10%;
    left: 6.5%;
    width: 87vw;
    
    border-radius: 16px;
    
    overflow: hidden;
    height: 84vh;
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
   
    display: flex;
    background: transparent; 
    position: absolute;
    z-index: 1;
    top: 61px;
    left: 87px;
    width: 87vw;
    display: flex;
    background-color: wheat; 
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    border-radius: 16px;
    background: rgba(255,255,255,0);
    overflow: hidden;
    height: 87vh;
    
    border-top: 1px solid rgba(255,255,255, 0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
  
    backdrop-filter: blur(5px);
    
}


.box2{
    
    margin: 10px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
     background: rgba(255,255,255,0); 
    backdrop-filter: blur(8px);
    
}

.box2:nth-child(1){
    width: 65%;
}
.box2:nth-child(2){
    width: 35%;
    margin-top: 40px;
} 


.myform{
    width: 100%;
    top: 12.5%;
    height: 80%;
    position: absolute;
    
}
#head{
    text-align: left;
    position: absolute;
    color: #f6f8f9;
    left: 2.5%;
    top: 10px;
    font-family: 'Inter', sans-serif;
}
.myInput{
    width: 45%;
    padding: 10px;
    margin: 16px;
    font-size: 16px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: white;
    
    
}

#comment{
    width: 94%;
    height: 55%;
    padding: 9px;
    margin: 21px 13px;
    font-size: 16px;
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    outline: none;
    background: transparent;
    color: white;
}

.btn{
    float: right;
    clear: both;
    margin-right: 31px;
    cursor: pointer;
    height: 30px;
    width: 94px;
    font-size: 16px;
    background-color: transparent;
    color: #00ad9a;
    
    border-bottom: 2px solid #262626;
    border-right: 2px solid #262626;
    box-shadow: inset 0.1px 0.1px 0 #C0C0C0, 0 2px 3px rgb(0 0 0 / 40%);
    border-radius: 6px;
  
    line-height: 0.2;
    text-decoration: none;
    cursor: pointer;
    outline: none; 
    
    font-family: 'Patua One', cursive;
}

.btn:hover{
    color: orange;

}


.box2{
    display: flex;
    flex-direction: column;
    
}

.card{
    color: #D3D3D3;
    margin: 0px;
    padding: 18px;
    border: 1px solid black;
    box-shadow:  2px 1px 45px  rgba(0, 0, 0, 0.6);
    
    
}

.card:hover{
    animation: ani 0.5s linear infinite;
    background: linear-gradient(#040404,#000000,#656565);
}

.box2:nth-child(1){
    border: 2px solid black;
    box-shadow: 5px 5px 35px rgb(0 0 0 / 80%);
    border-radius: 25px;
}


h7{
    font-family: 'Inter', sans-serif; 
}

.social{
    display: flex;
    position: absolute;
    top: 516px;
    left: 68%;
}
.social a{
    margin: 0px 12px;
}
#fb3{
    color: #f18957;
    filter: invert(100%);
    font-size: 26px;
}

#in3{
    color: #c4a667;
    filter: invert(100%);
    font-size: 26px;
}

#tw3{
    color: #e25e0d;
    filter: invert(100%);
    font-size: 26px;
}
 */
