#mypic{
    width: 37%!important;
    top: -215px!important;
    left: 6vw!important;
}

#paras{
    top: 188px!important;
}



.pabt{
    font-size: 23px!important;
}


#dis{
    
    font-size: 30px!important;

}
 

#abthead1{
   
    font-size: 52px!important;
}







#btn1{
    top: 608px!important;
    font-size: 16px!important;
    
}
