#cont02{
    height:100vh!important
}

#mypic{
    width: 37%!important;
    top: -333px!important;
    left: 6vw!important;
}

#paras{
    top: 188px!important;
}



.pabt{
    font-size: 23px!important;
}


#dis{
    
    font-size: 30px!important;

}
 

#abthead1{
   
    font-size: 52px!important;
}

#btn1{
    top: 110%!important;
    font-size: 16px!important;
    
}


/* styling skills and exp section  */

#cont03{
    height:60vh!important;
}

#psk{
    font-size: 26px!important;
}
#skill{
    font-size: 60!important;
}


/*work media css       */

#cont04{
    height: 50vh!important;
}

#sidebar{
    /* border: 2px solid red!important; */
    position: absolute;
    width: 20%!important;
    height: 100%!important;
    /* right: 10px!important; */
    top: 0%!important;
    left: 74.3%!important;
    
}
.social_links span{
    width: 50px!important;
    margin: 10px!important;
    cursor: pointer;
    font-size: 55px!important;
    filter: invert(50%);
}
.social_links{
    display: flex!important;
    width: 50px;
    
    text-align: center;
    position: absolute;
    top: 95%!important;
    transform: translate(98%)!important;
}