@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
#contwork{
    display: flex;
    color: white;
    /* border: 2px solid green; */
}

#boxw1{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 83vh;
    top: 10px;
    left: 5px;
    /* border: 2px solid rebeccapurple; */
    width: 122px;
    font-size: 21px;
    color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 35px rgb(0 0 0 / 80%);
    border-radius: 25px;
    font-family: 'Righteous', cursive;
}
#boxw2{
    position: absolute;
    left: 132px;
    top: 12px;
    border: 2px solid black;
    box-shadow: 5px 5px 35px rgb(0 0 0 / 80%);
    border-radius: 25px;
    width: 77vw;
    height: 83vh;
}

#proj{
    position: relative;
    left: 45%;
    color: green;
    font-family: 'Righteous', cursive;
    font-size: 39px;
    
}
hr{
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 0.5px;
}
#intern{
    position: relative;
    left: 44%;
    color: green;
    font-family: 'Righteous', cursive;
    font-size: 39px;
}

.pp{
    position: relative;
    left: 5px;
    font-size: 16px;
    font-weight: bolder;
}