@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

#content4{
    position: relative;
    /* background-image:url('../static/images/bg.JPG') ; */
    background-color: rgb(9, 8, 15);
    width: 99vw;
    height: 100%;
    z-index: 6;
}

#daba1{
    position: absolute;
    width: 100%;
    height: 100%;
    /* backdrop-filter: blur(8px);
    box-shadow: 25px 2px 50px rgb(0 0 0); */
    
}

#workhead{
    width: 62px;
    height:2px;
    border-width:0;
    color:rgb(71, 255, 246);
    background-color:rgb(71, 255, 255);
}

#workhead2{
    color: #00ad9a;
    font-size: 80px;
    position: absolute;
    left: 4%;
    top: 26px;
    font-family: 'Fredoka One', cursive;
}

#svg{
    position: absolute;
    top: 191px;
    left: 4%;
    width: 374px;
    height: 209px;
    animation: animatessvg 2s alternate infinite;
}

@keyframes animatessvg{
    0%{
        transform: translateY(0);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: translateY(-10px);
        filter: hue-rotate(360deg);
    }
}

#dabain{
    color: white;
    position: absolute;
    top: 168px;
    left: 42%;

    height: 234px;
    font-family: 'Fredoka One', cursive;
}

#projhead{
    color: #6C63FF;
    font-family: 'Righteous', cursive;
    font-size: 45px;
}

#internhead{
    color: #6C63FF;
    font-family: 'Righteous', cursive;
    font-size: 45px;
}
